{% extends "email_base.html" %}
{% load i18n %}

{% block email_body %}
  {% autoescape off %}
    {% blocktrans with app_label=app_label topics=topics course=course %}
      <p>Hello from {{ app_label }}!</p>
      <p>
        You are successfully entered to course "{{ course }}".
        Course consist of next topics:
        {{ topics }}
      </p>
    {% endblocktrans %}
    {% blocktrans with app_label=app_label %}
      <p>Thank you for using {{ app_label }}!</p>
    {% endblocktrans %}
  {% endautoescape %}
{% endblock %}
